body {
    background-color: #CD607E;
    text-align: center;
}



html {
  width: 100vw;
  height: 100vh;
}







.btn {
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color:	#A8516E;
  box-shadow: 0px 5px 0px 0px #F88379;
}
.blue:hover {
  background-color: #F88379;
}



* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: inherit;
  }
}
