body {
    background-color:#C4D8E2	;
  }

#slideshow > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}



}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}




.btn {
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color:	#A8516E;
  box-shadow: 0px 5px 0px 0px #F88379;
}
.blue:hover {
  background-color: #F88379;
}
.green {
  background-color: #A8516E;
  box-shadow: 0px 5px 0px 0px #F88379;
}

.green:hover {
  background-color:	#F88379;
}
.red {
  background-color: #A8516E;
  box-shadow: 0px 5px 0px 0px 	#F88379;
}

.red:hover {
  background-color: #F88379;
}









* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: inherit;
  }
}
html {
  width: 100vw;
  height: 100vh;
}
.start-screen {
  display: flex;
  justify-content: center;
  flex-flow: nowrap column;
  align-items: center;
  min-height: 100vh;
}
.loading {
  display: flex;
  margin: 60px 0;
}
.loading__element {
  font: normal  100 2rem/1 Roboto;
  color: white;
  letter-spacing: .5em;
}
[class*="el"] {
  animation: bouncing 5s infinite ease;
}

@for $i from 1 through 9 {
  $delay: percentage($i);
  .el#{$i} {
    animation-delay: $delay / 1000% + s;
  }
}

@keyframes bouncing {
  0%, 100% {
    transform: scale3d(1,1,1);
  }
  50% {
    transform: scale3d(0,0,1);
  }
}
